body {
    background-color: black;
    text-align:       center;
    text-align:       -moz-center;
    text-align:       -webkit-center;
    font-family: Verdana;
}

h1 {
    font-weight: normal;
    font-size:   50px;
    color:       white;
    text-align:  center;
}

.sub-header {
    font-weight: 300;
    font-size: 42px;
}

.excursion_link {
    color:       aquamarine;
    font-size:   16px;
}

.mention, .copyright {
    font-size:   21px;
    color:       Gray;
}

.copyright {
    text-align: right;
    text-align: -moz-right;
    text-align: -webkit-right;
    margin-bottom: 25px;
    margin-right: 10px;
}